@font-face {
    font-family: 'AlphabetizedCassetteTapes';
    src: url('fonts/alphabetizedcassettetapes.eot');
    src: url('fonts/alphabetizedcassettetapes.eot?#iefix') format('embedded-opentype'),
        url('fonts/alphabetizedcassettetapes.woff2') format('woff2'),
        url('fonts/alphabetizedcassettetapes.woff') format('woff'),
        url('fonts/alphabetizedcassettetapes.ttf') format('truetype'),
        url('fonts/alphabetizedcassettetapes.svg#alphabetizedcassettetapes') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PressStartK';
    src: url('fonts/PressStartK.eot');
    src: url('fonts/PressStartK.eot?#iefix') format('embedded-opentype'),
        url('fonts/PressStartK.woff2') format('woff2'),
        url('fonts/PressStartK.woff') format('woff'),
        url('fonts/PressStartK.ttf') format('truetype'),
        url('fonts/PressStartK.svg#PressStartK') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: rgb(49, 45, 79);
}

h1 {
    color: white;
    font-family: AlphabetizedCassetteTapes;
    font-size: 900%;
}

p {
    color: white;
    font-size: 150%;
}

img.center-align {
    display: block;
    margin: 10px auto;
}

h1.center-align {
    text-align: center;
}

div.center-align {
    text-align: center;
}

a {
    color: white;
    width: 100px;
    height: 50px;
    border-style: outset;
    border-color: white;
    padding: 10px;
    margin: 20px;
}

h1.video-game {
    animation: blinkingText 1.2s infinite;
    font-family: PressStartK;
}

@keyframes blinkingText{
    0% {     
        color: white;    
    }
    49% {    
        color: white; 
    }
    60% {    
        color: transparent; 
    }
    99% {    
        color: transparent;  
    }
    100% {   
        color: white;    
    }
}